body{
    margin: 0;
    padding: 0;
    /*height: 3000px;*/
}

.nav{
    background-color: black;
    height: 110px;
    width: 100%;
    position: fixed;
    align-items: center;
}
.nav-pic{
    width: 300px;
    height: 110px;
}

.background{
    position: absolute;
    margin-top: 100px;
    width: 191.1vh;
    height: 87.2vh;
    top: 0px;
    z-index: -3;

}